<template name="ApplicationLayout">
    <header>
        <title>Trivia Crack</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </header>
    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container green lighten-2">
                    <a href="/" id="logo-container" class="brand-logo">trivia crack <small>in association with <del>todo</del></small></a>
                    <ul class="right">
                        <li><a href="/search"><i class="material-icons left sss">search</i>Find Friends</a></li>
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer green darken-4">
            <div class="footer-copyright">
                <div class="container">
                     © 2016 Iván Salgado
                </div>
            </div>
        </footer>
    </body>
</template>