*{
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.challenge-friend{
    cursor: pointer;
}

nav{
    background-color: #81c784;
}

.material-icons{
    color: #1b5e20;
}

.home-title{
    animation: fadeInLoad 6s;
    color: #fff;
    font-size: 12rem;
    text-shadow: 5px 5px #81c784;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.home-des{
    font-size: 1.5rem;
    color: #81c784;
}

.sss{
    color: #fff;
}

.home-del{
    color: #F4C3AB;
}

small{
    animation: fadeInLoad 3s;
    font-size: 1rem;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}