<template name="home">
    {{#if currentUser}}
    <div class="container">
        <div class="section">
            <div class="row center">
                <h2>Start a new game</h2>
            </div>
            <div class="row">
                <div class="col s6">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>Friends</h4>
                        </li>
                        {{#if friends}} {{#each friends}}
                        <li class="collection-item">
                            <div>
                                <a href="#">{{username}}</a>
                                <a class="secondary-content challenge-friend">
                                    <i class="material-icons">play_arrow</i>
                                </a>
                            </div>
                        </li>
                        {{/each}} {{/if}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <h4>Random User</h4>
                    <a class="waves-effect waves-light btn-large rand-user green darken-4"><i class="material-icons right green lighten-2">shuffle</i>Random</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="card-panel">
                <h4>Your turn</h4>
            </div>
            <ul class="collection">
                {{#each yourGames}}
                <li class="collection-item avatar">
                    {{#with oppeonentData}}
                    <span class="title">{{username}}</span> {{/with}}
                    <p>Round: {{round}}</p>
                    <div class="secondary-content">
                        <div class="chip">
                            Score: {{yourScore}} - {{opponentScore}}
                        </div>
                        &nbsp;
                        <a href="/game/{{_id}}" class="waves-effect btn green darken-4">play</a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <center>
                    <h3 class="home-title"><b>trivia crack</b></h3>
                    <small class="home-des">in association with <del class="home-del">todo</del></small>
                </center>
            </div>
            
            <p></p>
        </div>
    </div>
    {{/if}}
</template>